.search{
    height: 40px;
    border: 3px solid rgba(234, 209, 209, 0.99);
    background-color:lavender;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: absolute;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
 
}



.search{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.btn1{
    border: 3px solid rgba(234, 209, 209, 0.99);
    border-radius: 8px;

}

.InputSearch{
    border:none;
    outline: none;
    border-radius: 6px;
    border-color: black;
    margin:4px;
    
}

.datum{
   position: absolute;
   
   top:0;
   
}

.TextPrijava{
    padding: 20px;
    
}

.options{

    position: absolute;
    top: 37px;
    
    background-color: aliceblue;
    border-radius: 5px;
   box-shadow: 0px 0px 10px -5px black;

}

.optionItem{
    width: 200px;
    display: flex;
    justify-content:space-between ;
    margin: 10px;
}

.opcijebrojac{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 12px;
}

.brojac{
    width: 30px;
    height: 30px;
    border: 3px solid lavender;
    cursor: pointer;
    background-color:white;
}

.brojac:disabled{
    cursor: not-allowed;
}