@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
.navbar{
    background-color:rgb(164, 162, 162) !important;
    
}

.nav-link{
    color:rgb(233, 233, 235) !important;
}

.navbar-brand{
    color: white !important;
    font-size: 2.4rem ;
    font-family: 'Kalam', cursive;
    margin-left: 1cm;
}

.navbar-nav{
    margin-inline-start: auto;
    margin-right: 1cm;
}

.blabla{
    border-radius: 40px;
    background-color: whitesmoke;
    margin-right: 0.2cm;
    margin-top: 0.2cm;
    margin-left: 0.8cm;
    color: rgb(164, 162, 162)
}

.blabla1{
    border-radius: 40px;
    background-color: whitesmoke;
    margin-right: 0.2cm;
    margin-top: 0.2cm;
    color: rgb(164, 162, 162)

}

.dropdown-menu{
    margin-right: 2cm;
}